body ,


.main-conteiner {
  display: flex;
  flex-direction: row-reverse;
  width: 1000px;
  background: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
html {
  padding: 10rem 50px 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-content: flex-start;
}

a {
  color: #00B7FF;
}

h1 {
  color: #0DCA1B;
}

.template {
  padding: 3rem 1.5rem;
  text-align: center;
  height: 100%;
  width: 100%;
}

/*side-bar-section  */
.side-bar-section {
  background: #696969;
  width: 370px;
  padding: 80px 0;
}
.Tech-Skills-section {
  margin: 50px 0 0 40px;
}



.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 10px;
}

/* tech-Skills-list */
.book-list {
  padding: 0 0 0 17px;
}
.side_bar_item {
  color: #DCDCDC;
}
.side-bar-item-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

/* Soft-Skills-section  */

.Soft-Skills-section {
  margin: 10px 0 0 40px;
}

.Soft-Skills-item {
  color: #fb6d3a;
}
.Soft-Skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: white;
}
